{% extends 'base.html.twig' %}

{% block body %}
    <h1>Saison {{ season.number }} - Episode n°{{ episode.number}}: </h1>
    <h2>{{ episode.title}}</h2>
    <p>{{ episode.synopsis }}</p>
    <a href="{{ path('show_season', {seasonId: season.id}) }}">Retour à la saison {{ season.number }}</a>
{% endblock %}